@import url(https://anegasakii.github.io/base.css);
body { margin: 1%; }
@keyframes highlight {
	100% {
		box-shadow: 0px 0px 5px white;
	}
}

.explain {
	width: auto;
	background-color: var(--darker);
	color: white;
	padding: 15px 10px 10px 10px;
	margin-top: 1%;
	border-radius: 5px;
	overflow:auto;
}

div {
	display: inline-block;
	vertical-align: top;
	border: 3px solid var(--main);
	padding: 10px;
	margin-left: 2%;
	border-radius: 5px;
	color: var(--darker);
}

.result {
	background-color: var(--darker);
}

label {
	display: block;
	font-weight:bold;
	width: auto;
	background-color: var(--darker);
	color: white;
	padding: 5px 15px;
	border-radius: 5px;
}

.current {
	margin: 10px;
	color: white;
}

.big {
	padding: 5px 10px;
	margin: 5px;
	font-weight:bolder;
	font-size: 200%;
	color: white;
}

label.big { background-color: var(--main); }

input {
	background-color: white;
	color: var(--darker);
	padding: 5px;
	margin: 5px;
	width: 100px;
	border: none;
}

footer { margin-top: 1%; }