:root {
	--main: #4995fa;
	--darker: #224aa5;
	--lighter: #9dc8f9;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: var(--lighter);
	font-family: sans-serif;
}

@keyframes darken {
	100% {
		color: white;
		background-color: var(--darker);
	}
}

@keyframes highlight {
	100% {
		box-shadow: 0px 0px 10px;
	}
}

.explain {
	box-shadow: 0px 0px 5px;
	width: auto;
	background-color: var(--darker);
	color: white;
	padding: 15px 10px 10px 10px;
	margin: 30px 30px 20px 30px;
	border-radius: 10px;
	overflow:auto;
}

div:hover {
	animation-name: highlight;
	animation-fill-mode: forwards;
	animation-duration: 0.25s;
}

div {
	display: inline-block;
	vertical-align: top;
	background-color: var(--main);
	padding: 10px;
	margin-left: 40px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px;
	color: var(--darker);
}

button {
	background-color: white;
	border-radius: 5px;
	color: var(--darker);
	font-size: 120%;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}

button:hover {
	animation-name: darken;
	animation-fill-mode: forwards;
	animation-duration: 0.25s;
}

.result {
	background-color: white;
}

.links {
	display: inline-block;
	background-color: transparent;
	margin-left: 10px;
	padding: 0px;
	box-shadow: none;
}

label {
	display: block;
	font-weight:bold;
	width: auto;
	background-color: var(--darker);
	color: white;
	padding: 5px 15px;
	border-radius: 5px;
}

.current {
	margin: 10px;
	font-weight:bold;
	color: white;
}

.big {
	padding: 5px 10px;
	margin: 5px;
	font-weight:bolder;
	font-size: 200%;
}

p.big {
	color: var(--darker);
}

input {
	background-color: white;
	color: var(--darker);
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	width: 100px;
}

a {
	font-family:sans-serif;
	border: none;
	display: inline-block;
	width: auto;
	font-size: 150%;
	padding: 7px;
	margin-top: 20px;
	margin-left: 20px;
	background-color: var(--main);
	color: white;
	border-radius: 10px;
	text-decoration:none;
}

a:hover {
	animation-name: darken;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}